$primary-color:#2196F3;
$danger-color:#F44336;
$warning-color:#FF9800;
$info-color:#00BCD4;
$success-color:#5bd252f2;

.color-danger{
  color:$danger-color;
}
.color-success{
  color:$success-color;
}
.color-primary{
  color:$primary-color;
}

.alert{
  font-size: 0.8rem;
}
.my-button{
  color:white;
  font-weight: 600;
  padding:0.6rem 2rem;
  border-radius: 3rem;
  font-size:0.95rem;
  transition: .3s;
  text-transform: uppercase;
  cursor:pointer;
  border:none;
}
.my-button:hover{
  transform:translateY(-.3rem);
  filter:contrast(150%);
}
.danger-btn{
  @extend .my-button;
  background-color: $danger-color;
}
.success-btn{
  @extend .my-button;
  background-color: $success-color;
}
.primary-btn{
  @extend .my-button;
  background-color: $primary-color;
}

.flash{
  padding:0.8rem;
  padding-right: 2rem;
  color:white;
  text-shadow:0 0 10px white;
  font-weight: 700;
  border-radius:.5rem 0 0 .5rem;
  display: inline-block;
  position:fixed;
  right:-500px;
  top:4rem;
  z-index:2;
  font-size: 0.8rem;
  animation: slideInLeft 10s ease-in 1;
}

@keyframes slideInLeft{
  0%{
    right:-500px;
  }
  8%{
    right:0;
  }
  92%{
    right:0;
  }
  100%{
    right:-500px;
  }
}

.flash-success{
  @extend .flash;
  background-color:$success-color;
}
.flash-danger{
  @extend .flash;
  background-color:$danger-color;
}
.flash-info{
  @extend .flash;
  background-color:$info-color;
}
.flash-warning{
  @extend .flash;
  background-color:$warning-color;
}

@mixin bg-gradient{
  background: #fd746c;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ff9068, #fd746c);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ff9068, #fd746c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@mixin absolute-zero{
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
}

body{
  font-family: 'Open Sans', sans-serif;
}

.bree-font{
  font-family: 'Bree Serif', serif;
}

.top-nav{
  @include bg-gradient;
  font-weight:600;
}

.search-container{
  overflow: hidden;
  position:absolute;
  top:0;
  right:0;
  width: 100%;
  text-align: right;
  z-index: 1;
  transition: 0.5s;
  @include bg-gradient;

  .button-group-append{
    position: relative;

      input{
        border-radius:.25rem;
        padding:.375rem .75rem;
        padding-right: 3.5rem;
        border:1px solid white;
        &::placeholder{
          color:#333;
          font-weight: 400;
        }
      }

      button{
        background-color: transparent;
        color:#333;
        border:none;
        cursor:pointer;
        position:absolute;
        top:.375rem;

        &.search{
          right:1.8rem;
        }

        &.times{
          right:.375rem;
          transform: scale(1.2)
        }
      }
    }
  &.hidden{
    width:0;
  }
}

.nav-button{
  background-color: transparent;
  color:white;
  border:none;
  cursor:pointer;
}

.invalid-feedback span{
  margin-left:1rem;
}

.form-background{
  background-image: url('../images/form-back.jpg');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding:3rem 0;
  &:after{
    content:'';
    height: 100%;
    width: 100%;
    @include absolute-zero;
    background-color: rgba(255, 255, 255, 0.4);
  }

  .form{
    border-radius: 0.5rem;
    padding:2rem;
    position: relative;
    z-index: 1;
    color:white;
    width:90%;
    max-width: 400px;
    font-weight: 600;
    @include bg-gradient;

    .header{
      font-size: 2rem;
      display: block;
      text-align:center;
      .icon{
        padding-top: .5rem;
        color:#333;
        background-color: white;
        border-radius:50%;
        display: inline-block;
        width: 4rem;
        height: 4rem;
      }
    }

    .form-heading{
      text-align: center;
      font-weight: bold;
      margin-top: 1rem;
      letter-spacing: 0.1rem;
    }
    .form-group{
      margin-bottom: 2rem;
      margin-top: 1rem;
    }
    .input-text-group{
      position: relative;
    }
    input[type=text],input[type=email],input[type=password]{
      color:white;
      background-color:transparent;
      border:none;
      border-radius: 0;
      border-bottom: 2px solid;

      &:focus{
        outline: none;
        -webkit-box-shadow: none !important;
        -moz-box-shadow: none !important;
        box-shadow: none !important;
      }
      &+span{
        position: absolute;
        top:.5rem;
        left:.5rem;
        font-weight: 600;
        pointer-events: none;
        transition:.3s;
      }
      &:focus + span{
        top:-1rem;
      }
    }
    .custom-control-label:before{
      background-color:white;
      }
      .custom-checkbox .custom-control-input:checked~.custom-control-label::before{
        background-color:black;
      }
      .form-submit{
        @extend .my-button;
        @include bg-gradient;
        border:2px solid;

        &:hover{
          box-shadow: 0 0 10px 3px white;
        }
      }
    }
}

.card{
  font-weight: 600;
}
.border-line{
  border:1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}
